@import "../../../../../assets/styles/mixins";
.section-header {
  .page-select {
    margin-top: 0px;
    margin-left: 10px;
    min-width: 200px;
  }
  .sub-heading {
    font-size: 16px;
  }
}

.m-r7a {
  position: absolute;
  right: 7px;
}
.upc-names-list {
  margin-left: 10px;
}
.agCheckBox {
  pointer-events: none;
  .ag-selection-checkbox {
    pointer-events: all;
  }
  & > span {
    @include m-0-auto;
  }
  .ag-selection-checkbox {
    span {
      position: unset;
    }
  }
}
.row-deleted {
  .ag-selection-checkbox {
    pointer-events: none;
  }
}
